<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логінація</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div style="max-width: 300px; margin: 50px auto; padding: 20px; border: 1px solid #ccc;">
    <div class="login-container">
        <h2>Логінація</h2>
        <form action="/login" method="post"> <!-- URL для обробки форми на сервері -->
            <div class="input-group">
                <label for="userName">Ім'я користувача</label>
                <input type="text" id="userName" name="userName" required>
            </div>
            <div class="input-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <input type="submit" value="Увійти">
            </div>
        </form>
    </div>
</div>
</body>
</html>